* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
/* root */
:root {
  /* color */
  --bg-color: #fff;
  --text-color: #000;
  --main-color: #f0f0f0;
  --second-color: #616060;
  --other-color: #ffc663;
  /* fonts */
  --h1-font: 5.5rem;
  --h2-font: 3.5rem;
  --p-font: 1rem;
}
/* body */
body {
  background: var(--bg-color);
  color: var(--text-color);
}
/* header */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-color);
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
  padding: 18px 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
}
.logo {
  font-size: 33px;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--text-color);
}
.navlist {
  display: flex;
}
.navlist a {
  display: inline-block;
  margin: 0 30px;
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.6s;
}
.navlist a:hover {
  transform: translateY(-4px);
  color: var(--second-color);
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right a {
  display: inline-block;
  font-size: 22px;
  color: var(--text-color);
  margin: 0 20px;
  transition: all 0.6s;
}
.nav-right a:hover {
  transform: translateY(-5px) scale(1.1);
}
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  margin-left: 10px;
  cursor: pointer;
  display: none;
}
/* home section */
section {
  padding: 90px 14% 17px;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text {
  padding-top: 60px;
}
.home-text h6 {
  font-size: 15px;
  font-weight: 500;
  color: var(--second-color);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.home-text h1 {
  font-size: var(--h1-font);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}
.home-text p {
  width: 100%;
  max-width: 56px;
  font-size: var(--p-font);
  font-weight: 400;
  color: var(--second-color);
  line-height: 33px;
  margin-bottom: 35px;
}
.btn {
  display: inline-block;
  padding: 14px 42px;
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.6s;
}
.btn:hover {
  transform: scale(0.9) translateY(-6px);
  border: 2px solid var(--text-color);
  background: transparent;
  color: var(--text-color);
}
